---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100vh;
}

body {
  background: $lightGray;
  font: 18px/1.4 $roboto;
  color: $darkGray;
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.sidebar-wrapper {
  width: 25%;
  float: left;
  padding: 15px;
  height: 100vh;
  min-width: 25%;
  padding: 75px 85px 20px;
  background-color: $base-color;
  color: #fff;
  border-radius: 15% / 45%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  a {
    color: white;
  }
  .profile_pic {
    background-color: #fff;
    width: 200px;
    padding: 6px 6px 3px 6px;
    border-radius: 500%;
     img {
      border-radius: 50%;
      }
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.site-container {
  box-sizing: border-box;
  height: 100%;
}


.content-wrapper {
  overflow: scroll;
  width: 75%;
  float: left;
  padding: 15px;
  height: 100vh;
}


.about_container {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0%;
  width: 65%;
}


.overcapture {
  width: 100%;
  height: auto;
  padding: 65px;
  background: #fff;
  color: #222;
  font-family: 'Roboto';
  min-height: 200px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 25px;
  margin: 10px;
}

.overcap::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
  width: 70%; 
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .sidebar-wrapper {
    border-radius: 25% / 15%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .content-wrapper {
    width: 98%;
    overflow: none;
  }

  .about_container {
    width: 100%;
  }

}





// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

