<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="sidebar-wrapper">
      <div class="about_container">
          <img src="{{ site.avatar }}" />
          <h1 data-ix="header-transition" class="about" >PAULO CARDOSO</h1>
          <p data-ix="text-slide" class="about-copy" >Solution Architect at <a href="https://backbase.com/" target="_blank" class="link">@Backbase</a>. Software Craftman and Photographers Follow my work and photos.&nbsp;</p>
          {% include svg-icons.html %}
      </div>
    </div>
    <div class="content-wrapper">
        {% for post in site.posts %}
          <article class="overcapture w-clearfix">
            <h1><a class="text-white" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="entry">
              {{ post.excerpt }}
            </div>
            <a  class="text-white"  href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          </article>
        {% endfor %}

    </div>
    
    {% include analytics.html %}
  </body>
</html>
